@use 'sass:list';

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

// Define variables for color scheme
$dark-theme-color: rgb(2, 7, 54);
$medium-theme-color: #5050f5;
$light-theme-color: #d5d7f8;
$button-color: rgb(248, 171, 29);
$title-height: 75px;
$form-height: 645px;
$category-height: calc(($form-height - $title-height)/8);

@mixin review-button($button-color, $text-color, $border-color) {
    height: 100px;
    width: 300px;
    border: 3px solid $border-color;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    background-color: $button-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
}

@mixin card-display() {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 600px;
    width: 420px;
    background-color: #ffffff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin title() {
    .title-container {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        height: 90px;
        background-color: $dark-theme-color;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-family: 'Kalam';
            width: 200px;
            font-size: 35px;
            color: white;
        }
    }
}

@mixin categories($optionColor) {
    background-color: $optionColor;
    h3 {
        opacity: 1;
        color: black;
    }
}

// Define the SASS for the css page
body {
    background-color: $light-theme-color;
    font-family: 'Kalam', 'serif';
    overflow: hidden;
}

.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

h1 {
    font-family: 'Kalam', 'serif';
    font-size: 60px;
    color: $dark-theme-color;
}

.modal-form {
    height: $form-height;
    width: 1050px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 200px;
    left: 75px;
    z-index: 100;
    display: none;
    grid-template-columns: 300px 1fr;
    grid-template-rows: $title-height 1fr;
    box-shadow: 10px 10px 23px 7px rgba(0,0,0,0.88);
    .cross-icon {
        height: 20px;
        width: 20px;
        position: absolute;
        left: 1010px;
        top: 20px;
    }
    .modal-title {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        color: white;
        background-color: #383839;
        h2{
            font-size: 35px;
            font-weight: bold;
        }
    }
    .categories {
        grid-row: 2 / -1;
        grid-column: 1 / 2;
        background-color: #383839;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black;
        .fresh-produce {
            @include categories(rgb(44, 240, 125));
        }
        .dairy {
            @include categories(rgb(249, 249, 250));
        }
        .grains-and-cereals {
            @include categories(rgb(248, 173, 75));
        }
        .baking {
            @include categories(rgb(228, 243, 89));
        }
        .frozen {
            @include categories(rgb(74, 238, 250));
        }
        .oils-and-seasoning {
            @include categories(rgb(253, 109, 92));
        }
        .snacks-spreads-and-drink {
            @include categories(rgb(248, 93, 225));
        }
        .cleaning-and-household {
            @include categories(rgb(116, 135, 246));
        }
        div {
            width: 100%;
            height: $category-height;
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                color: grey;
                opacity: 0.4;
                padding: 10px 30px 10px 30px;
            }
        }
        div:hover {
            cursor: pointer;
        }
        
    }
    .item-summary {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat($category-height, 8);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(196, 246, 217);
        .no-item-message {
            font-size: 30px;
            
        }
        .item-view {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                margin-right: 8px;
                font-size: 16px;
            }
            button {
                margin-left: 8px;
                background-color: rgb(241, 61, 61);
                color: white;
                border: 1px solid rgb(241, 61, 61);
                font-size: 16px;
                padding: 2px;
                border-radius: 5px;
            }
            button:hover{
                cursor: pointer;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transform: translateY(-60px);
    .select {
        @include card-display();
        @include title();
        .search-container {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            label {
                margin: 10px;
                font-size: 25px;
                font-weight: bold;
                color: rgb(2, 7, 54);
                transform: translateX(-135px);
            }
            .search {
                    height: 50px;
                    width: 50px;
                    transform: translate(150px, -47px);
                    z-index: 10;
                    .search-img {
                        height: 40px;
                        width: 40px;
                    }
                }

            .search:hover {
                cursor: pointer;
            }
                    
            input {
                width: 350px;
                height: 50px;
                border-radius: 8px;
                font-size: 20px;
                z-index: 5;
            }
        }
        .search-list {
            display: none;
            position: absolute;
            top: 184.5px;
            border: 1px solid black;
            border-radius: 5px;
            list-style: none;
            width: 350px;
            z-index: 15;
            background-color: white;
            height: 302px;
            overflow: hidden;
            padding: 0px;
            li {
                width: 111%;
                margin: auto auto;
                font-size: 16px;
                transform: translateX(-28px);
                display: flex;
                justify-content: center;
                border-bottom: 2px solid black;
                span {
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 9px;
                }
            }
            .list-titles {
                font-size: 17px;
                font-weight: bold;
                background-color: $dark-theme-color;
                color: white;
                border: 1px solid black;
            }
            .list-title:hover {
                cursor: default;
            }
            li:hover {
                cursor: pointer;
            }
        }

        .circle {
            height: 300px;
            width: 300px;
            border-radius: 50%;
            background-color: $dark-theme-color;
            color: white;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(-30px);  
            .item {
                font-size: 28px;
                font-weight: bold;
            }    
            .freq {
                transform: translateY(-20px);
            }      
            .order {
                font-weight: bold;
            }
            .add {
                height: 50px;
                width: 120px;
                font-size: 20px;
                //font-weight: bold;
                color: white;
                background-color: $medium-theme-color;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .select-button:hover {
                cursor: pointer;
            }
        }

    }
    .current {
        @include card-display();
        @include title();
        .button-container {
            height: calc(100% - 90px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .review-button1 {
                @include review-button(white, $dark-theme-color, $dark-theme-color);
            }
            .review-button2 {
                @include review-button(white, $dark-theme-color, $dark-theme-color);
            }
            .review-button3 {
                @include review-button(rgb(29, 123, 87), white, rgb(29, 123, 87));
            }
            .review-button:hover {
                background: $button-color;
                color: $dark-theme-color;
                cursor: pointer;
            }
            .review-button3:hover {
                cursor: pointer;
                scale: 1.1;
            }
        }
    }
}


