doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Document
    link(rel='stylesheet', href='../css/final-list.css')
    script(src='../js/renderer-final-list.js' defer)
  body
    div(class="page-layout")
      div(class="title-bar") Shopping List #{date}
      div(class='items-layout')
        each element, index in shoppingItems
          div(class=`category${index + 1}`)
            div(class=`${element.classAtt}`)= element.category
            div(class='content')= element.selectedItems
      