doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Document
    link(rel='stylesheet', href='../css/final-list.css')
  body
    .layout
      .category1
        .fresh-produce Fresh Produce
        .content apple, baby spinach, banana, green beans, blueberries, broccoli, carrots, cherry tomatoes, green beans, kiwifruit, oranges, pears, potatoes, pumpkin, sweet potato, tomato, zucchini
      .category2
      .category3        
      .category4        
      .category5        
      .category6        
      .category7        
      .category8
        
        